/*
--- 01 Typography System

  ## FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 
    20 / 24 / 30 / 36 / 44 / 52 / 62 /
     74 / 86 / 98 
    
  ## Font Weight
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700
  
  ## Letter Spacing
  0.75px , -0.5px

  ## Line-Height
    Defalt: 1
    Large-Text: 1.05
    medium: 1.2
    Large: 1.8
    Small-text / Medium-text: 1.6


--- 02 Colors:
### Primary


### Neutral

--- 05 Shadows
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
   
--- 06 border-radius
    Default: 0.9rem
    medium: 1.1rem

    
--- 07 White-space
     SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 
    48 / 64 / 80 / 96 / 128



    font family -body:   font-family: "Young Serif", serif;
             -heading:  font-family: "Poppins", sans-serif;
             */
             
             /* transform: translate(-50%, 20%) skewY(-6deg) */
             
             /* --primary-color--: #FFEF99; */
             /* --very-light-gold--: #fffbe6;  */
            /* background-color:#f2e7c3;  navigation*/ 

             /* fcdcda */
             /* --secondary-color: #D4AF37;
             --primary-color:#FFD700;  */
/*

/* GENERAL */
:root {
  /* --marker-color--: #9a8ea1; */

  --primary-color--: #dccbe6;
  --light-purple--: #e0d0e9;
  --very-light-purple--: #f8f0f9; 
  --nav-color--: #e3d5eb;

  --secondary-color--: #f6a19b;
  --marker-color--: #dc7b75;
  --btns-color--:#f6a19b;
  --icons-color--: #dc7b75;

  --primary-gray--: #222;
  --secondary-gray--: #555;
  --secondary-gray--txt: #555;

  --third-gray--: #333;

  --beige-color: #F5F5DC; /* Beige */
  --beige-color-word: #F5F5DC; /* Beige */
  --white-color: #FFFFFF; 

  --light-linear-left--: linear-gradient(to left, var(--secondary-color--),#f7aca8, var(--light-purple--), var(--primary-color--));
  --light-linear--: linear-gradient(to top left, var(--secondary-color--),#f7aca8, var(--light-purple--), var(--primary-color--));
  --dark-linear--: linear-gradient(to top left, #c5817c,var(--marker-color--), #9a8ea1, #7b7281);

  --shadow-nav-bar--: rgba(0, 0, 0, 0.08);

}

body.dark-mode {
  --primary-color--: #9a8ea1;
  --light-purple--: #e0d0e9;
  --nav-color--: #424242;
  --beige-color-word: #222; 
  
  --very-light-purple--: #121B22;

  --btns-color--:#dccbe6;
  --icons-color--: #dccbe6;
  
  --secondary-color--: #898d91;
  --marker-color--: #aea5b4;
  
  --primary-gray--: #FAFAFA;
  --secondary-gray--: #222;
  --secondary-gray--txt: #eee;
  --white-color: #424242;
  --light-linear-left--: linear-gradient(to left,#71767a, var(--secondary-color--),  var(--primary-color--),#dccbe6);
  --light-linear--: linear-gradient(to top left,#9d92a3,var(--marker-color--), #e0d0e9);
  --dark-linear--: linear-gradient(to top left,#9d92a3,var(--marker-color--), #e0d0e9);
  --shadow-nav-bar--: rgba(225, 225, 225, 0.08);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

*:focus{
  outline: 2px solid var(--marker-color--);
}

::selection{
  color: #fff;
  background-color:var(--marker-color--);
}

body{
  font-family: "Noto Sans Arabic", sans-serif;
  font-size: 1.8rem;
  color: var(--primary-gray--);
  font-weight: 500;
  line-height: 1.6;
  background-image: var(--light-linear-left--);
  overflow-x: hidden;
  transition: all 0.3s;
}

.container{
  margin: 0 auto;
  max-width: 120rem;
  background-color: var(--very-light-purple--);
  border-radius: 1.2rem;
  box-shadow: 5rem 2rem 6rem .5rem rgba(97, 85, 81, .2);
  position: relative;
}

/* Hidden Class */
.hidden{
  display: none;
  opacity: 0;
}

/* ICONS STYLES */
.icon{
  width: 4.8rem;
}
.moon-icon{
  stroke-width: 1.5px;
  fill:none;
  stroke: var(--icons-color--);
  transition: all 0.3s;
}
.moon-fill{
  fill: var(--beige-color);
}
.bookmark-icon{
  fill:var(--icons-color--);
  height: 3.2rem;
}
.icon-smile{
  fill: var(--icons-color--);
  width: 2.8rem;
}
.icon-bookmark-item{
  fill: var(--icons-color--);
  width: 8rem;
  height: 8rem;
}
.youtube-icon{
  fill: var(--icons-color--);
  width: 6rem;
}