/* NAVIGATION */
.navigation{
  height: 10rem;
  position: relative;
  margin-top: 4rem;
  margin-bottom: 5.6rem;
  font-size: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-color--);
  border-radius: 1.2rem 1.2rem 0 0;
}

.logo{
  margin-right: 2rem;
  font-size: 2.8rem;
}

.nav-list{
  margin-left: 2rem;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4rem;
  height: 100%;

}

.nav-btn-container{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-btn{
  /* background-color: #f2e7c3; */
  display: block;
  background-color: var(--nav-color--);
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: inherit;
}

.bookmark-item-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-light-purple--);
  border: none;
  outline: none;
  cursor: pointer;
  transform: translate(-80%,-585%);
}

.bookmark-word{
  font-size: 2rem;
  font-weight: 600;
  color:var(--primary-gray--);
}
.soon{
  font-size: 1.2rem;
}