
/* spinner */
.spinner {
  margin: 5rem auto;
  text-align: center;
}
.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: var(--marker-color--);
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}